<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>animationname</key>
		<string>背景颜色</string>
		<key>propertyname</key>
		<string>backgroundColor</string>
		<key>valueclass</key>
		<string>UIColor</string>
		<key>fromvalue</key>
		<string></string>
		<key>tovalue</key>
		<string>0E8909</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>大小</string>
		<key>propertyname</key>
		<string>bounds</string>
		<key>valueclass</key>
		<string>CGRect</string>
		<key>fromvalue</key>
		<string>{{0,0},{10,10}}</string>
		<key>tovalue</key>
		<string>{{0,0},{150,150}}</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>透明度</string>
		<key>propertyname</key>
		<string>opacity</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>0.1</string>
		<key>tovalue</key>
		<string>1.0</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>位置</string>
		<key>propertyname</key>
		<string>position</string>
		<key>valueclass</key>
		<string>CGPoint</string>
		<key>fromvalue</key>
		<string>{10,100}</string>
		<key>tovalue</key>
		<string>{200,100}</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>平移</string>
		<key>propertyname</key>
		<string>positionX</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>50</string>
		<key>tovalue</key>
		<string>200</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>垂直</string>
		<key>propertyname</key>
		<string>positionY</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>50</string>
		<key>tovalue</key>
		<string>200</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>旋转</string>
		<key>propertyname</key>
		<string>rotation</string>
		<key>valueclass</key>
		<string>CGPoint</string>
		<key>fromvalue</key>
		<string>{0,0}</string>
		<key>tovalue</key>
		<string>{100,100}</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>水平旋转</string>
		<key>propertyname</key>
		<string>rotationX</string>
		<key>valueclass</key>
		<string>CGPoint</string>
		<key>fromvalue</key>
		<string>{0,0}</string>
		<key>tovalue</key>
		<string>{10,0}</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>垂直旋转</string>
		<key>propertyname</key>
		<string>rotationY</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>0</string>
		<key>tovalue</key>
		<string>0.9</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>水平缩放</string>
		<key>propertyname</key>
		<string>scaleX</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>0</string>
		<key>tovalue</key>
		<string>1.9</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>垂直缩放</string>
		<key>propertyname</key>
		<string>scaleY</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>0</string>
		<key>tovalue</key>
		<string>1.9</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>缩放</string>
		<key>propertyname</key>
		<string>scaleXY</string>
		<key>valueclass</key>
		<string>CGPoint</string>
		<key>fromvalue</key>
		<string>{1,1}</string>
		<key>tovalue</key>
		<string>{2,2}</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>size</string>
		<key>propertyname</key>
		<string>size</string>
		<key>valueclass</key>
		<string>CGRect</string>
		<key>fromvalue</key>
		<string></string>
		<key>tovalue</key>
		<string>{{140,140},{140,140}}</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>subscaleXY</string>
		<key>propertyname</key>
		<string>subscaleXY</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>0</string>
		<key>tovalue</key>
		<string>1</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>水平移动</string>
		<key>propertyname</key>
		<string>translationX</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>00</string>
		<key>tovalue</key>
		<string>100</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>垂直移动</string>
		<key>propertyname</key>
		<string>translationY</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>00</string>
		<key>tovalue</key>
		<string>100</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
	<dict>
		<key>animationname</key>
		<string>移动Z</string>
		<key>propertyname</key>
		<string>translationZ</string>
		<key>valueclass</key>
		<string>CGFloat</string>
		<key>fromvalue</key>
		<string>0</string>
		<key>tovalue</key>
		<string>100</string>
		<key>starttime</key>
		<string></string>
		<key>duration</key>
		<string></string>
	</dict>
</array>
</plist>
